@tailwind base;
@tailwind components;
@tailwind utilities;
/* @layer base{
  *{
     @apply  scroll-behavior: smooth
  }
} */
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
} */
@layer components{
    .swiper {
       @apply w-full ;
      }
    
      .swiper-slide {
        @apply  flex  justify-evenly items-center  ;
      }

    
      /* .swiper-slide img { */
        /* display: block; */
        /* width: 50%; */
        /* height: 50%; */
        /* object-fit: cover; */
      /* } */
}
